#duration {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.b-s-label {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}

.b-s-length {
    font-size: 50px;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#control {
    height: 20%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.b-s-length-control {
    display: flex;
    justify-content: center;
    align-items: center;
}
